<main> 

  <% if @user.errors.any? %>
    <p>Please check the error details.</p>
    <ul>
      <% @user.errors.full_messages.each do |error| %>
      <li>
        <%= error %>
      </li>
      <%end%>
    </ul>
  <%end%>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
        <%= form_with model: @user do |f| %>
          <div class="form-group">
          <p class="text">Name</p>
          <%= f.text_field :name, autofocus: true %>
          </div>
          
          <div class="form-group">
          <p class="text">Image</p>
          <%= f.file_field :profile_image, accept: "image/*" %>
          </div>
          
          <div class="form-group">
          <p class="text">Introduction</p>
          <%= f.text_area :introduction, autofocus: true %>
          </div>
          <div class="form-group">
          <%= f.submit "Update User",class:"btn btn-sm btn-secondary" %>
          </div>
        <% end %>
    </div>  
  </div>
</div>





</main>